<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=BALT-SQL-FC;Initial Catalog=DPW_Communications;persist security info=True;uid=DPW_Communications_RW;pwd=vGh970x#5N9I;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--DEV db-->
    <add name="DefaultConnection" connectionString="Data Source=BALT-SQL-DEV;Initial Catalog=DPW_Communications;persist security info=True;uid=DPW_Communications_RW;pwd=ssgED3jd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CommunicationsContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=CommunicationsContext-20180705231158; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|CommunicationsContext-20180705231158.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <!--<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    <!--<add key="baseSiteURL" value="http://dpw-cisweb-tst/Communications" />-->
    <add key="baseSiteURL" value="http://localhost:50008" />
    <add key="Salutation" value="Mr.,Mrs.,Ms." />
    <add key="ReportServerUsername" value="dpw.IntranetReports" />
    <add key="ReportServerPassword" value="Welcome2017" />
    <add key="ReportServerDomain" value="BALTIMORE" />
    <add key="SSRSReportsFolder" value="Report.Communications" />
    <!--<add key="SSRSReportsFolder" value="DPW_Communications_Reports"/>-->
    <add key="SSRSServer" value="http://dpw-cisrep-tst/ReportServer" />
    <add key="DailyMediaReport" value="DailyMediaReport" />
    <add key="logPath" value="\\dpw-cisweb-tst\E$\Inetpub\WWWRoot\Communications\Report\Error.txt"/>
    <!--App setting for the StackOverflowException to not display exception details to User-->
    <add key="vs:EnableBrowserLink" value="false" />
  <!--Settings to allow sending Direct email using SMTP-->
    <!--<add key="FromMail" value="mailfrom@example.com" />
    <add key="Password" value="password" />
    <add key="ToMail" value="mailtosend@example.com" />
    <add key="SMTPHost" value="smtpserver" />
    <add key="Port" value="25" />-->
  <!--End of new test settings-->
  </appSettings>
  <system.web>
    <!-- Redirect to friendly Error Page if Login Failed
     <customErrors defaultRedirect="errorpage.htm" mode="RemoteOnly">
      <error statusCode="401" redirect="~/401" />
    </customErrors>-->
    <!--<compilation targetFramework="4.5" debug="true"/>-->
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxRequestLength="2024000" executionTimeout="300" />
    <authentication mode="Windows" />
    <authorization>
      <!--<allow roles="Baltimore\DPW Communications Application Access,Baltimore\DPW Communications Application Admin"/>-->
      <!--<allow roles="DOMAIN\MyTeam" />-->
      <deny users="?" />
      <!--<allow users="*"/>-->
      <!--<customErrors mode="Off"></customErrors>-->
    </authorization>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <!--For SMTP-Direct email-->
  <system.net>  
    <mailSettings>  
      <smtp deliveryMethod="Network">  
        <network host="mailrelay.baltimore.city" port="25" defaultCredentials="true" />  
      </smtp>  
    </mailSettings>  
  </system.net>  
    
  <!--<location path="RemoteData">-->
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication"/>-->
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
        <staticContent>
            <remove fileExtension=".eml" />
            <mimeMap fileExtension=".eml" mimeType="application/vnd.ms-outlook" />
        </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>